VITE_API_BASE_URL=http://127.0.0.1:8000
# On Vercel, set VITE_API_BASE_URL=https://careledgerai.onrender.com
VITE_SUPABASE_URL=https://cfxwpurbknkzpzrghrru.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Lj5IHAI3irTKFw9_GiUJ1g_KVrsJM9r
